<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="CoolSWITCH-4548297" data-view="Coolswitch"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="Clock" data-view="Clock"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="CoolSWITCH-27013" data-view="Coolswitch"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="CoolSWITCH-27014" data-view="Coolswitch"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="CoolSWITCH-27015" data-view="Coolswitch"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="CoolSWITCH-27016" data-view="Coolswitch"></div>
    </li>
  </ul>
</div>
